<div>
  <h2>Rate my cakes</h2>
  <div>
    <form (submit)="makeCake()">
      <h3>Submit a cake to be rated</h3>
      <p>Baker name:</p>
      <input type="text" name="_newCake.bakerName" [(ngModel)]="_newCake.bakerName">
      <p>Image url:</p>
      <input type="text" name="_newCake.cakeImage" [(ngModel)]="_newCake.cakeImage">
      <button type="submit">Submit</button>
    </form>
  </div>
  <div>
    <h3>All of the cakes</h3>
    <ul>

      <li *ngFor="let cake of _allCakes">
        <img src={{cake.cakeImage}} alt={{cake._id}} width="150px" (click)="getCake(cake._id)">
        <div *ngFor="let review of _newReviews">
          <form  *ngIf="cake._id == review.cakeID" (submit)="makeReview(review.cakeID, review.newReview)">            
            <input type="hidden" name="cakeID" value={{review.cakeID}}>
            <input type="number" min="1" max="5" placeholder="number 1-5" name="review.newReview.rating" [(ngModel)]="review.newReview.rating">
            <input type="text" [(ngModel)]="review.newReview.comment" name="review.newReview.comment">
            <input type="submit" name="Submit Review">
          </form>
        </div>
      </li>
    </ul>
  </div>
  <app-show-cake *ngIf="_shownCake" [shownCake]="_shownCake" [shownCakeAverage]="_shownCakeAverage"></app-show-cake>
</div>